.player {
    display: flex;
    align-items: center;
    background-color: rgb(240, 128, 128, 0.6);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 300px;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: lightgreen;
}