.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('./../../assets/img/board.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-stack {
    position: relative;

    >img {
        position: absolute;
        width: 150px;
        height: auto;
    }

}

.top-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05) translateY(-5px);

    }
}

.played-card {
    position: absolute;
    width: 150px;
    height: auto;
    right: 25px;
    transform: scale(1.25) translateX(170px) translateY(-180px) rotate(-10deg);
    transition: transform 0.5s ease-in-out;
}

.pick-card {
    animation: pick-card-animation 1.05s ease-in-out;
    transform: scale(1.25) translateX(170px) translateY(-180px) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.7);
    }

    60% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.25) translateX(170px) translateY(-180px) rotate(-10deg);
    }
}

.player-position {
    position: absolute;
    right: 50px;
}

.add-btn {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.card-info {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}