.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 128, 128, 0.6);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 80px;
    height: 80px;
    gap: 12px;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }

    span {
        margin-top: 8px;
        font-size: 24px;
    }

    img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: lightgreen;
}