* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 900px) {
    .hide-mobile {
        display: none;
    }
}

@media (min-width: 900px) {
    .hide-desktop {
        display: none !important;
    }
}